{% load django_bootstrap5 %}
{% load static %}

<!--个人资料卡-->
<div class="card mb-4 text-center">
    <img src="{% static 'images/avatar.jpg' %}" class="card-img-top rounded-circle mx-auto mt-3" style="width: 120px; height: 120px; object-fit: cover;" alt="avatar">
    <div class="card-body text-center">
        <h5 class="card-title">Schabe Antimonfeld</h5>
        <p class="card-text text-muted">AI × Coding × Minecraft</p>
        <hr>
        <p>在读大学生</p>
        <p></p>
        <p><i class="fab fa-github"></i> <a href="https://github.com/Schabe-Antimonfeld" target="_blank">GitHub</a></p>
    </div>
</div>